
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@400;700&family=Inter:wght@700&family=Manrope:wght@200..800&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --bgcolor: rgb(36, 5, 62);
  --green:rgb(68, 255, 161);
  --ash:rgb(88, 77, 98);
}
.first-section{
    width: 100%;
    height: 35rem;
    background-color: var(--bgcolor);
     border-bottom-left-radius: 45% 9%;
     border-bottom-right-radius: 45% 9%;    
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 3rem 12rem; 
   margin: 0 auto;    
}
.txt2{
    font-family: manrope;
    color:white;
    border-bottom: 2px solid var(--green);
    padding-top: 5px;
}
.txt2:hover{
    cursor: pointer;
    color: var(--green);
}
 .middle-part{
    display: flex;
 }
 .heading{
    font-size: 3rem;
    color: white;
    width: 380px;
    text-align: center;
    font-family: fraunces;  
    justify-content: center;
    margin: 0 auto;
 }
 .right-spring{
    position: absolute;
    right: 0;
    top: 200px;
 }
 .tailored{
    border-bottom: 2px solid var(--green);
 }
 .heading h6{
    font-family: fraunces;
    font-size: small;
    border: 2px solid var(--green);
    width: 7.5rem;
    padding: 10px;
    margin: 0 auto;
    background-color: var(--green);
    color: black;
    margin-top: 20px;
 }
 .heading h6:hover{
    cursor: pointer;
    border: 1px solid var(--green);
 }
 .left-spring img{
    position: absolute;
    top: 6rem;
 }
.mobile{
    scale:0.8;
    position: absolute;
    left: 20rem;
    top: 20rem;
}
.second-section{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color:#D9D9D9;
    border-bottom-left-radius: 45% 9%;
    border-bottom-right-radius: 45% 9%;
    position: relative;
    z-index: -1;
    top: -90px; 
}
.card{
    margin-top: 20rem;
}
.name{
    font-family: Fraunces;
    color:var(--bgcolor);
    font-size: 28px;
    font-style: thin;
}
.text {
    width: 17rem;
    font-family:Fraunces ; 
    font-size: 17px; 
    font-weight:100; 
    color: var(--bgcolor);
    line-height: 1.6; 
    letter-spacing: 0.5;
    word-wrap: break-word;
    text-align: center;
}
.num{
    text-align: center;
    height:50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    padding-top: 15px;
    margin-left: 6rem;
}
.num,.name,.text{
    margin-bottom: 2rem;
}
.last-card{
    background-color: var(--bgcolor);
    width: 620px;
    height: 300px;
    margin: auto 35rem;
}
.last-card h4{
    color: white;
    font-size: 30px;
    margin: 0 3rem;
    padding-top: 35px; 
    width: 730px;  
}
.last-card h5{
 color: rgba(255, 255, 255, 0.87);
 padding: 50px;
 line-height: 20px;
 width: 35rem;
}
.last-card h6{
    border: 1px solid var(--green);
    width: 100px;
    line-height: 30px;
    background-color: var(--green);
    margin: 0 3rem;
    font-family: manrope;
    text-align: center;
}
.last-card h6:hover{
    background-color:var(--bgcolor);
    cursor: pointer;
    border: 1px solid var(--green);
    color: var(--green);
}
 .ts-spring{
     position: absolute;
    right: 15rem;
    top: 88rem;
    scale: 0.7;
    margin-top: -50px;
} 
.last-section{
    text-align: center;
    margin-top: 5rem;
}
.icon-side{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.i{
margin: 10px;
}
.i:hover{
    cursor: pointer;   
}
@media (min-width: 1025px) {
    .last-card::before{
        content: url(images/man-image.png);
        position: absolute;
        scale: 0.5;
        left: 15rem;
        top: 65rem;
        z-index: -1;
       margin-top: 30px;
    }
}
@media (min-width: 481px) and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
 .nav{
    margin-inline: -10rem;
 }   
 .mobile{
    position: absolute;
    scale: 1;
    justify-content: center;
}
.second-section {
flex-direction: column;
background-color: ghostwhite;
}
.new{
    margin-left: 17%;
}
.new .text{
width: 680px;
text-align: left;
font-size: 18px;
font-family:fraunces;
font-size: 25px;
color: var(--bgcolor);
}
.new .name{
    width: fit-content;
    margin: auto 0;
}
.card{
    margin: 0px auto;
}
.card:nth-child(1){
    margin-top: 360px;
}
.card .num{
   position: absolute;
   left: 0;
   margin-left: 23%;
   margin-top: 30px;  
}
.ts-spring{
    display: none;
}
.last-card{
    margin-left: 40%;
    margin-top: 170px;
    width: 514px;
}
.last-card h5{
    font-family: fraunces;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
    font-weight: 100;
}
.last-card::before{
    content: url(images/man-image.png);
    position: absolute;
    left: 0;
    z-index: -1;
    scale: 0.6;
    margin-top: -250px;
    margin-left: 150px;
}
.last-card h6::after{
content: url(images/down-spring.png);
position: absolute;
left: 65%;
margin-top: -80px;
scale: 0.8;
}
.heading h6{
    font-size: 24px;
    width: 200px;
    padding: 25px;
}
.last-card h6{
    font-size: 20px;
    width: 180px;
    padding: 6px;
    margin-top: -20px;
}
}

@media  (min-width: 320px)  and (max-width:480px){
    body{
        overflow-x: hidden;
    }
.left-spring img,.right-spring img ,.ts-spring img{
    display: none;
}
.nav{
margin-inline: -45%;
}
.mobile{
    width: 100%;
    position: absolute;
    scale: 0.4;
    left: 0;
    margin: auto;
    margin-top: 5%;
    margin-left: -20%;
}
.second-section{
    flex-direction: column;
}
.card{
    margin:10px auto 0 auto;
}
.card:nth-child(1){
    margin-top: 170px;
}
.last-card{
    margin: auto auto;
    height: 375px;
    width: 343px;
}
 .third-section{
   margin-top: 120px;
} 
.third-section::before{
    content: url(images/man-image.png);
    position: absolute;
    scale: 0.4;
    top: 92rem;
    margin-left: -20%;
    z-index: -1;
}
.last-card h5{
    width: fit-content;
    padding: 30px;
    font-family: fraunces;
    font-weight: 200;
    font-size: 18px;
    justify-content: center;
    line-height: 30px;
}
}